body {
  background-image: url("../assets/img/vista-superior-da-lista-de-tarefas-escrita-no-caderno-preto-no-espaco-livre-da-mesa-preta.jpg");
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
 

}
body::after {
  content: "";
  background-image: inherit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5; /* Valor de opacidade, varie de 0 (totalmente transparente) a 1 (totalmente opaco) */
}
.done {
  background: #302d2d;
}

.done h3 {
  color: #f9f9f9;
  text-decoration: line-through;
  font-style: italic;
}
button i {
  pointer-events: none;
  color: #102f5e;
  font-weight: bold;
}